﻿@model EmployeeTable.Models.EmployeeWorkplaceViewModel
@{
    ViewData["Title"] = "Добавление сотрудника";
}

<h1>Добавление сотрудника</h1>

<hr />
<div class="row">
    <div class="col-md-5 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otch" class="control-label"></label>
                <input asp-for="Otch" class="form-control" />
                <span asp-validation-for="Otch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="PositionID" class="form-control" asp-items="ViewBag.Position"></select>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <select asp-for="OrganizationID" class="form-control" asp-items="ViewBag.Organization"></select>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.Department"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary btn-block my-4" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
