﻿@model IEnumerable<EmployeeTable.Models.Organization>

@{
    ViewData["Title"] = "Организации";
}

<h1>Список организаций</h1>

<p>
    <a data-toggle="modal" data-target="#modal-container" asp-action="Create">Добавить организацию</a>
</p>
<div class="modal fade hide" id="modal-container" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <h5 class="text-center">@Html.DisplayNameFor(model => model.Name) </h5>
                </div>
                <div class="col-4">

                </div>
            </div>
            @foreach(var item in Model)
            {
                <partial name="_OrganizationPartial" model="item" />
            }
            
        </div>
    </div>
</div>