﻿@model EmployeeTable.Models.Department

<div class="row my-2 align-items-center item-row">
    <div class="col-8">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <input asp-for="Name" class="form-control" type="text" readonly />
            <div class="editFormBtns mt-2 float-right">
                <button type="submit" class="btn btn-primary btn-sm itemPostEdit-btn">Сохранить</button>
                <button type="button" class="btn btn-primary btn-sm itemEditCancel-btn">Отмена</button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <div class="row changeOrDeleteBtns m-0">
            <button class="btn btn-primary btn-sm mb-1 mr-1 editItem-btn" type="button">Изменить</button>
            <form asp-action="Delete" asp-route-id="@Model.ID">
                <button type="submit" class="btn btn-primary btn-sm organizationDelete-btn">Удалить</button>
            </form>
        </div>
    </div>
</div>
