﻿@model EmployeeTable.Models.EmployeePosition


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Добавление новой должности</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="create-partial" id="create-item" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="float-right mt-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary" data-save="modal">Сохранить</button>
        </div>
    </form>
</div>
